// ----------------------
// MIXINS

// ------
// Breakpoints

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
  
  // -------
  // Utility
  
  @mixin clean-block {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @mixin transition($args) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
  }
  
  @mixin flexy ( $display:flex, $direction: row, $wrap: wrap, $justify: space-between ) {
      position: relative;
      display: $display;
      flex-direction: $direction;
      flex-wrap: $wrap;
      justify-content: $justify;
  }
  
  @mixin border-radius( $curve ){
      border-radius: $curve;
    -moz-border-radius: $curve;
    -o-border-radius: $curve;
    -webkit-border-radius: $curve;
  }
  
  @mixin border-radius-left ( $radius ) {
      -webkit-border-top-left-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
    -moz-border-radius-topleft: $radius;
    -moz-border-radius-bottomleft: $radius;
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
  }
  